<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- CSS Files -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/styles/weather.css">
</head>
<body>
	<div class="preloader">
		<div class="spinner"></div>
	</div>
	<div class="preloader-left"></div>
	<div class="preloader-right"></div>
	<div class="content">
		<div class="weather">
			<% 
				var i = 1;
				for(day in weather) { 
			%>
				<div class="day days-<%= weather[day].days %> day-<%- i %><%if(i == 1){%> active<% } %>">
					<div class="day-info">
						<div class="day-title">
							<span class="monthday"><%= weather[day].day %></span> 					
							<span class="weekday"><%= weather[day].dayweek %></span>
						</div>
						<div class="day-icon">
							<img class="day-icon-svg" src="<%= weather[day].icon %>">
						</div>
						<div class="day-temp">
							<%= weather[day].temp_max %>&deg; / <%= weather[day].temp_min %>&deg;
						</div>
					</div>
					<ul class="hours">
						<% weather[day].weather.forEach(function (item){ %>
							<li class="hour">
								<img class="hour-icon" src="<%= item.icon %>">
								<div class="hour-temp"><%= item.temp %>&deg;C</div>
								<div class="hour-del">
									<div class="hour-del-circle"></div>
								</div>
								<div class="hour-title"><%= item.time %></div>
							</li>
						<% }); %>
					</ul>
				</div>
			<% 
				i++;
				} 
			%>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-1.11.2.min.js" type="text/javascript"></script>
	<script type="text/javascript">
	$(function(){

		setTimeout(function (){
				$('.preloader').fadeOut();
				$('.preloader-left').addClass('slide-left');
				$('.preloader-right').addClass('slide-right');
				$('body').addClass('show');
		}, 1000);

		$('.day').on('click', function () {
			$('.day').removeClass('active');
			$(this).addClass('active');
		});
	});


	</script>
</body>